@font-face {
  font-family: Baskerville;
  src: url("bask.ttf");
  font-weight: normal; }
@font-face {
  font-family: Baskerville;
  src: url("bask-bold.otf");
  font-weight: bold; }
@font-face {
  font-family: Old English Text;
  src: url("engt.ttf");
  font-weight: bold; }
nav {
  margin-top: 30px; }
  nav header {
    font-family: "Old English Text", Times, serif;
    font-size: 35pt;
    text-align: center;
    margin-bottom: 30px; }
  nav hr {
    width: 80%;
    border-color: black; }
  nav div {
    margin-top: 30px;
    text-align: center; }
    nav div a {
      text-decoration: none;
      color: black; }
      nav div a span {
        font-family: ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande, Helvetica, sans-serif;
        font-size: 10pt;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center; }

article, section {
  width: 700px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; }
  article header div:nth-child(1), section header div:nth-child(1) {
    font-family: ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande, Helvetica, sans-serif;
    font-size: 10pt;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: bold; }
  article header div:nth-child(2), section header div:nth-child(2) {
    font-family: "Baskerville", Times, serif;
    font-style: italic;
    font-weight: 600;
    font-size: 20pt;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid #DDD thin; }
  article header div:nth-child(3), section header div:nth-child(3) {
    font-family: 'Baskerville', Georgia, times, serif;
    font-size: 10pt; }
    article header div:nth-child(3) span:nth-child(1), section header div:nth-child(3) span:nth-child(1) {
      font-weight: bold;
      letter-spacing: 0.5px; }
    article header div:nth-child(3) span:nth-child(2), section header div:nth-child(3) span:nth-child(2) {
      font-weight: normal;
      margin-left: 20px; }
  article #content, section #content, article #sources p, section #sources p {
    font-family: "Baskerville", Georgia, serif;
    font-size: 14pt;
    line-height: 1.8;
    font-weight: normal; }
    article #content p, section #content p, article #sources p p, section #sources p p {
      margin-bottom: 2em; }
  article #sources p, section #sources p {
    color: black;
    font-size: 11pt; }
    article #sources p a, section #sources p a {
      color: black;
      text-decoration: none; }
    article #sources p a:hover, section #sources p a:hover {
      text-decoration: underline; }

section > header {
  text-align: center;
  margin-bottom: 40px;
  display: block; }
  section > header span {
    font-family: ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande, Helvetica, sans-serif;
    font-size: 15pt;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase; }
section > div ul li {
  list-style: none; }
  section > div ul li > span {
    font-family: "Baskerville", Times, serif;
    font-style: italic;
    font-weight: 600;
    font-size: 20pt;
    margin-bottom: 5px;
    display: block; }
    section > div ul li > span a {
      text-decoration: none;
      color: black; }
    section > div ul li > span a:hover {
      text-decoration: underline;
      color: black; }
  section > div ul li > div {
    font-family: 'Baskerville', Georgia, times, serif;
    font-size: 10pt; }
    section > div ul li > div span:nth-child(1) {
      font-weight: bold;
      letter-spacing: 0.5px; }
    section > div ul li > div span:nth-child(2) {
      font-weight: normal;
      margin-left: 20px; }

/*# sourceMappingURL=global.css.map */
