@font-face {
    font-family: Baskerville;
    src: url("bask.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Baskerville;
    src: url("bask-bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: Old English Text;
    src: url("engt.ttf");
    font-weight: bold;
}
nav{
	margin-top: 30px;
	header {
		font-family: "Old English Text", Times, serif;
		font-size: 35pt;
		text-align: center;
		margin-bottom: 30px;
	}
	hr {
		width: 80%;
		border-color: black; 
	}
	div {
		margin-top: 30px;
		text-align: center;
		a {
			text-decoration: none;
			color: black;
			span {
				font-family: ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande, Helvetica, sans-serif;
				font-size: 10pt;
				padding-left: 25px;
				padding-right: 25px;
				text-align: center;

			}
		}
	}
}
article {
	width: 700px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	header {
		//section
		div:nth-child(1){
			font-family: ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande, Helvetica, sans-serif; 
			font-size: 10pt;
			letter-spacing: 1px;
			margin-bottom: 15px;
			font-weight: bold;
		}
		
		//title
		div:nth-child(2){
			font-family: "Baskerville", Times, serif;
			font-style: italic;
			font-weight: 600;
			font-size: 20pt;
			padding-bottom: 10px;
			margin-bottom: 20px;
			border-bottom: solid #DDD thin;
		}

		//subtitle
		div:nth-child(3){
			font-family: 'Baskerville', Georgia, times, serif;
			font-size: 10pt;

			//author
			span:nth-child(1){
				font-weight: bold;
				letter-spacing: 0.5px;
			}

			//date
			span:nth-child(2){
				font-weight: normal;
				margin-left: 20px;
			}
		}
	}
	#content {
		font-family: "Baskerville", Georgia, serif;
		font-size: 14pt;
		line-height: 1.8;
		font-weight: normal;

		p {
			margin-bottom: 2em;
		}
	}
	#sources {
		p {
			@extend #content;
			color: black;
			font-size: 11pt;

			a {
				color: black;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}
section {
	@extend article;
	> header {
		text-align: center;
		margin-bottom: 40px;
		display: block;
		span {
			font-family: ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande, Helvetica, sans-serif; 
			font-size: 15pt;
			letter-spacing: 2px;
			margin-bottom: 15px;
			font-weight: normal;
			text-transform: uppercase;
		}
	}
	> div {
		ul {
			li {
				list-style: none;
				> span {
					font-family: "Baskerville", Times, serif;
					font-style: italic;
					font-weight: 600;
					font-size: 20pt;
					
					margin-bottom: 5px;
					display: block;
					a {
						text-decoration: none;
						color: black;
					}
					a:hover {
						text-decoration: underline;
						color: black;
					}
				}
				> div {
					font-family: 'Baskerville', Georgia, times, serif;
					font-size: 10pt;

					//author
					span:nth-child(1){
						font-weight: bold;
						letter-spacing: 0.5px;
					}

					//date
					span:nth-child(2){
						font-weight: normal;
						margin-left: 20px;
					}
				}
			}
		}
	}
}
